<a href="/artists">Artists</a> <a href="/paintings">Paintings</a>
<h1 style="font-family:verdana">Update Artist</h1>



<%= form_with url: "/artists/#{@artist.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <p><%= form.label :year_born %>
  <%= form.text_field :year_born %></p>
  <%= form.label :country %>
  <%= form.text_field :country %>
  <p><%= form.label :alive %>
  <%= form.text_field :alive %></p>

  <p><%= form.submit "Update Artist" %></p>
<% end %>
