<a href="/paintings">Paintings</a>
<h1 style="font-family:verdana">All Artists</h1>
<table id="table">
<tr>
  <th>Artist Name</th>
  <th>Number of Paintings</th>
  <th>Created at</th>
  <th>Edit Artist</th>
  <th>Delete Artists</th>
</tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= link_to "#{artist.name}", "/artists/#{artist.id}" %> </td>
    <td><%= artist.number_of_paintings %> </td>
    <td><%= artist.created_at %> </td>
    <td><%= link_to "Edit #{artist.name}", "/artists/#{artist.id}/edit", method: :get %> </td>
    <td><%= link_to "Delete #{artist.name}", "/artists/#{artist.id}", data: { turbo_method: :delete } %></td>
  </tr>
<% end %>
</table>
<%= link_to "New Artist", "/artists/new" %>
<%= link_to "Sort by # of Paintings", :order => "num_paint" %>