<a href="/artists">Artists</a> <a href="/paintings">Paintings</a> <a href="/artists/<%= @artist.id %>/paintings">Artist's Paintings</a>
<h1 style="font-family:verdana">Artist Info</h1>
<table id="table">
<tr>
  <th>Artist Name</th>
  <th>Year Born</th>
  <th>Country</th>
  <th>Alive?</th>
  <th># of Paintings</th>
  <th>Edit Artist</th>
</tr>
<tr>
  <td><%= @artist.name %></td>
  <td><%= @artist.year_born %></td>
  <td><%= @artist.country %></td>
  <td><%= @artist.alive %></td>
  <td><%= @paintings %></td>
  <td><%= link_to "Edit #{@artist.name}", "/artists/#{@artist.id}/edit", data: { turbo_method: :get } %> </td>
</tr>
</table>

<p><%= link_to "Delete #{@artist.name}", "/artists/#{@artist.id}", data: { turbo_method: :delete } %></p>