<a href="/artists">Artists</a> <a href="/paintings">Paintings</a> <a href="/artists/<%= @artist.id %>/paintings">Artist's Paintings</a>
<h1>Artist Info</h1>
<p>Artist: <%= @artist.name %></p>
<p>Year born: <%= @artist.year_born %></p>
<p>Country: <%= @artist.country %></p>
<p>Alive?: <%= @artist.alive %></p>
<p>Number of paintings for <%= @artist.name %>: <%= @paintings %></p>