<a href="/artists">Artists</a> <a href="/paintings">Paintings</a>
<h1 style="font-family:verdana">Update Painting</h1>


<%= form_with url: "/paintings/#{@painting.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <p><%= form.label :year_painted %>
  <%= form.text_field :year_painted %></p>
  <%= form.label :oil_painting %>
  <%= form.text_field :oil_painting %>

  <p><%= form.submit "Update Painting" %></p>
<% end %>