<a href="/artists">Artists</a> <a href="/paintings">Paintings</a>
<h1>Artist's Paintings</h1>

<table>
<tr>
  <th>Artist Name</th>
  <th>Year Painted</th>
  <th>Oil Painting?</th>
</tr>
<% @paintings.each do |painting|  %>
  <tr>
    <td><%= painting.name %></td>
    <td><%= painting.year_painted %><td>
    <td><%= painting.oil_painting %></td>
  </tr>
<% end %>
</table>
<p><%= link_to "New Painting", "/artists/#{@artist.id}/paintings/new" %></p>

<p><%= link_to "Sort by Name", :order => "name" %></p>

<%= form_tag("/artists/#{@artist.id}/paintings", method: :get) do %>
  <%= label_tag("Painted After (year)") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Submit") %>
<% end %>